.dialog-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: #0005;
}

.dialog {
  width: 70%;
  height: fit-content;
  padding: 2rem;
  background: #fff;
  box-shadow: 1px 1px 10px 2px #0005;
  z-index: 3;
  margin: auto auto;
}
